.boxBuscar {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  margin-bottom: 10px;
}

.boxBuscar span {
  font-size: 1.4rem;
  margin-right: 10px;
}

.boxBuscar input {
  width: 300px;
  padding: 10px 15px;
  border: 2px solid #ccc;
  border-radius: 25px;
  font-size: 16px;
  outline: none;
  transition: border 0.3s ease, box-shadow 0.3s ease;
}

.input-field:focus {
  border-color: #3498db;
  box-shadow: 0 0 10px rgba(52, 152, 219, 0.5);
}

.input-field::placeholder {
  color: #7f8c8d;
  font-style: italic;
}
